<div class="center jumbotron">
  <h1>Welcome to the Notes</h1>

  <h2>
    This is the place to store your memos about anything you wish!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
